#myUl li
{
    padding: 5px 10px;
    border: 1px solid #d8d3d3;
    border-top: none;
}
#myUl li a{   color:black;}
form h1,form h2,form h3,form h4,form h5,form h6,.heading-form
{
	color:#000063 !important;
	font-family: serif !important;
    font-weight: 700 !important;
	text-transform: uppercase !important;
	margin:1rem 0 !important;
	font-size:1.3rem !important;
}
.button-border a{    color: black;}
.button-border
{
	border: 1px solid #888888 !important;
    border-radius: 4px !important;
    padding: 2px !important;
    text-align: center !important;
    background-color: #c3c2c2 !important;
}
.heading-form.a{margin:0.5rem !important}
.a_product
{
	border: 1px solid #b3b3b3;
    padding: 0.3rem 2rem;
    color: red;
    background-color: #d4d4d4;
}
.b_pro{color: green;}